body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 700px;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.input-data {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #45a049;
}
.data{
 
    display: flex;
    justify-content: center;
flex-direction:column-reverse;
    align-items: center;
}

