*{
    background-color: chocolate;
}
button{
    border: none;
    width: 200PX;
    background-color: cadetblue;
    padding: 10px;
    cursor: pointer;
    color: white;
    position: relative;
    left: 50%;
}
h1{
    color: white;
    position: relative;
    left: 40%;
}